#PySpark Practice Notebook

In [1]:
#Source Data
#Create a csv file for the following data
product_id,product,country,sales
1,Product A,USA,100
2,Product B,USA,80
3,Product C,USA,30
1,Product A,Canada,60
2,Product B,Canada,40
4,Product D,UK,50
5,Product E,UK,20
1,Product A,Germany,70
3,Product C,Germany,90
4,Product D,Germany,40

SyntaxError: invalid syntax (<ipython-input-1-e808f6e1a47c>, line 4)

In [4]:
#Import Pyspark & other necessary functions
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=f8da46fbc8d2684b9f62c97042df47c52da5321a41c2e8483b9a836474b54ca7
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [5]:
#Create SparkSession for app "Sales Data Analysis"
from pyspark.sql import SparkSession
lti_spark = SparkSession.builder.appName('giri').getOrCreate()

In [28]:
import csv
data = [
    [1,'Product A','USA',100],
    [2,'Product B','USA',80],
    [3,'Product C','USA',30],
    [1,'Product A','Canada',60],
    [2,'Product B','Canada',40],
    [4,'Product D','UK',50],
    [5,'Product E','UK',20],
    [1,'Product A','Germany',70],
    [3,'Product C','Germany',90],
    [4,'Product D','Germany',40]
]
#file_name = 'sales_data.csv'
#with open(file_name,'w',newline='') as csvfile:
#  writer = csv.writer(csvfile)
#  writer.writerows(data)
# ['product_id','product','country','sales'],

In [3]:
df = lti_spark.createDataFrame(data,schema = ('product_id','product','country','sales'))
df.show()

NameError: name 'lti_spark' is not defined

In [35]:
df.write.csv('sales3.csv')

In [37]:
#Create a pyspark DataFrame from the csv file on local storage
a= lti_spark.read.csv('sales2.csv')
a.show()

+---+---------+-------+---+
|_c0|      _c1|    _c2|_c3|
+---+---------+-------+---+
|  4|Product D|     UK| 50|
|  5|Product E|     UK| 20|
|  1|Product A|Germany| 70|
|  3|Product C|Germany| 90|
|  4|Product D|Germany| 40|
|  1|Product A|    USA|100|
|  2|Product B|    USA| 80|
|  3|Product C|    USA| 30|
|  1|Product A| Canada| 60|
|  2|Product B| Canada| 40|
+---+---------+-------+---+

In [38]:
#Verify schema for the newly created file
df.printSchema()

root
 |-- product_id: long (nullable = true)
 |-- product: string (nullable = true)
 |-- country: string (nullable = true)
 |-- sales: long (nullable = true)

In [61]:
#Display all entries for country "Germany"
b = df.select('*').where(df.country == 'Germany')
b.show()

+----------+---------+-------+-----+
|product_id|  product|country|sales|
+----------+---------+-------+-----+
|         1|Product A|Germany|   70|
|         3|Product C|Germany|   90|
|         4|Product D|Germany|   40|
+----------+---------+-------+-----+

In [65]:
#Find the total number of products
c = df.select(df.product).distinct().count()
c

5

In [67]:
#Find top 3 products
d = df.sort(df.sales,ascending = False).limit(3)
d.show()

+----------+---------+-------+-----+
|product_id|  product|country|sales|
+----------+---------+-------+-----+
|         1|Product A|    USA|  100|
|         3|Product C|Germany|   90|
|         2|Product B|    USA|   80|
+----------+---------+-------+-----+

In [70]:
#Calculate total sales
q = df.agg({'sales':'sum'}).show()
q

+----------+
|sum(sales)|
+----------+
|       580|
+----------+

In [2]:
#Find the market share of all products individually
#from pyspark.sql.functions import udf
b = df.groupBy(df.product).sum('sales')
b.show()

NameError: name 'df' is not defined